In [1]:
#import libraries
import pymongo
from pymongo import MongoClient
from pprint import pprint

### Connect to MongoDB

In [2]:
#connect to local database server
client = pymongo.MongoClient("localhost:27017")
db = client.assignment8

In [3]:
customers = db.customers
films = db.films
stores = db.stores

### 1. Return the total number of customers living in California

In [4]:
california_customers_count = customers.count_documents({
    'Country': 'United States',  
    'District': 'California'}
)

print(f"The total number of customers living in California: {california_customers_count}")

The total number of customers living in California: 9

### 2. List all movies that are rated NC-17. Return the title and the rating, sorted alphabetically by title.

In [5]:
nc_17 = films.find(
    {'Rating': 'NC-17'},  
    {'Title': 1,
     'Rating': 1,
     '_id': 0}  
).sort('Title', 1).limit(20)

for film in nc_17:
    print(f"Title: {film['Title']}  Rating: {film['Rating']}")

Title: ADAPTATION HOLES  Rating: NC-17
Title: ALADDIN CALENDAR  Rating: NC-17
Title: ALICE FANTASIA  Rating: NC-17
Title: ALIEN CENTER  Rating: NC-17
Title: ALLEY EVOLUTION  Rating: NC-17
Title: ANONYMOUS HUMAN  Rating: NC-17
Title: ANTITRUST TOMATOES  Rating: NC-17
Title: APACHE DIVINE  Rating: NC-17
Title: ARABIA DOGMA  Rating: NC-17
Title: ARK RIDGEMONT  Rating: NC-17
Title: ARTIST COLDBLOODED  Rating: NC-17
Title: BABY HALL  Rating: NC-17
Title: BALLOON HOMEWARD  Rating: NC-17
Title: BANG KWAI  Rating: NC-17
Title: BED HIGHBALL  Rating: NC-17
Title: BENEATH RUSH  Rating: NC-17
Title: BETRAYED REAR  Rating: NC-17
Title: BIKINI BORROWERS  Rating: NC-17
Title: BIRDCAGE CASPER  Rating: NC-17
Title: BOONDOCK BALLROOM  Rating: NC-17

### 3. List the movie titles and the count of actors in each movie, sorted alphabetically by title.

In [6]:
result = films.aggregate([
    {"$project": {
        "Title": 1,
        "Actors": 1,
        "_id": 0
    }},
    {"$sort": {"Title": pymongo.ASCENDING}},
    {"$limit": 20} 
])

for film in result:
    print(f"Title: {film['Title']}  Actor Count: {len(film['Actors'])}")

Title: ACADEMY DINOSAUR  Actor Count: 10
Title: ACE GOLDFINGER  Actor Count: 4
Title: ADAPTATION HOLES  Actor Count: 5
Title: AFFAIR PREJUDICE  Actor Count: 5
Title: AFRICAN EGG  Actor Count: 5
Title: AGENT TRUMAN  Actor Count: 7
Title: AIRPLANE SIERRA  Actor Count: 5
Title: AIRPORT POLLOCK  Actor Count: 4
Title: ALABAMA DEVIL  Actor Count: 9
Title: ALADDIN CALENDAR  Actor Count: 8
Title: ALAMO VIDEOTAPE  Actor Count: 4
Title: ALASKA PHANTOM  Actor Count: 7
Title: ALI FOREVER  Actor Count: 5
Title: ALICE FANTASIA  Actor Count: 4
Title: ALIEN CENTER  Actor Count: 6
Title: ALLEY EVOLUTION  Actor Count: 5
Title: ALONE TRIP  Actor Count: 8
Title: ALTER VICTORY  Actor Count: 4
Title: AMADEUS HOLY  Actor Count: 6
Title: AMELIE HELLFIGHTERS  Actor Count: 6

### 4. List the count of movies by category. Return the category and the count, sorted by the count per category descending.

In [7]:
result = films.aggregate([
    {"$group": {
        "_id": "$Category",
        "count": {"$sum": 1}
    }},
    {"$sort": {"count": -1}}
])

for film in result:
    print(f"Category: {film['_id']}  Count: {film['count']}")

Category: Sports  Count: 74
Category: Foreign  Count: 73
Category: Family  Count: 69
Category: Documentary  Count: 68
Category: Animation  Count: 66
Category: Action  Count: 64
Category: New  Count: 63
Category: Drama  Count: 62
Category: Sci-Fi  Count: 61
Category: Games  Count: 61
Category: Children  Count: 60
Category: Comedy  Count: 58
Category: Travel  Count: 57
Category: Classics  Count: 57
Category: Horror  Count: 56
Category: Music  Count: 51

### 5. List the top 2 movies with movie length greater than 25mins or which has commentaries as special features. Return the movie title, length, and special features.

In [8]:
result = films.aggregate([
    {"$match": {"$or": [{"Length": {"$gt": 25}}, {"Special Features": {"$in": ["Commentaries"]}}]}},
    {"$project": {"Title": 1, "Length": 1, "Special Features": 1, "_id": 0}},
    {"$limit": 2}
])

for film in result:
    print(f"Title: {film['Title']}  Length: {film['Length']} mins  Special Features: {film['Special Features']}")

Title: BABY HALL  Length: 153 mins  Special Features: Commentaries
Title: BROOKLYN DESERT  Length: 161 mins  Special Features: Commentaries

### 6. List top 10 countries with the most number of customers.

In [9]:
result = customers.aggregate([
    {"$group": {
        "_id": "$Country",
        "count": {"$sum": 1}
    }},
    {"$sort": {"count": -1}},
    {"$limit": 10}
])

for customer in result:
    print(f"Country: {customer['_id']}  Count: {customer['count']}")

Country: India  Count: 60
Country: China  Count: 53
Country: United States  Count: 36
Country: Japan  Count: 31
Country: Mexico  Count: 30
Country: Brazil  Count: 28
Country: Russian Federation  Count: 28
Country: Philippines  Count: 20
Country: Turkey  Count: 15
Country: Indonesia  Count: 14

### 7. List all replacement costs along with count for each replacement cost.

In [10]:
result = films.aggregate([
    {"$group": {
        "_id": "$Replacement Cost",
        "count": {"$sum": 1}
    }}
])

for film in result:
    print(f"Replacement Cost: {film['_id']}  Count: {film['count']}")

Replacement Cost: 20.99  Count: 57
Replacement Cost: 17.99  Count: 47
Replacement Cost: 21.99  Count: 55
Replacement Cost: 19.99  Count: 50
Replacement Cost: 28.99  Count: 41
Replacement Cost: 9.99  Count: 41
Replacement Cost: 13.99  Count: 55
Replacement Cost: 10.99  Count: 49
Replacement Cost: 24.99  Count: 38
Replacement Cost: 11.99  Count: 49
Replacement Cost: 27.99  Count: 53
Replacement Cost: 29.99  Count: 53
Replacement Cost: 14.99  Count: 51
Replacement Cost: 16.99  Count: 38
Replacement Cost: 18.99  Count: 42
Replacement Cost: 12.99  Count: 55
Replacement Cost: 25.99  Count: 43
Replacement Cost: 22.99  Count: 55
Replacement Cost: 23.99  Count: 45
Replacement Cost: 15.99  Count: 37
Replacement Cost: 26.99  Count: 46

### 8. List all films relating to Mexico promotional specials (hint:description).

In [11]:
result = films.aggregate([
    {"$match": {
        "Description": {"$regex": "Mexico", "$options": "i"}
    }},
    {"$project": {"Title": 1, "Description": 1, "_id": 0}},
    {"$limit": 20}
])


for film in result:
    print(f"Title: {film['Title']} ")

Title: AFRICAN EGG
Title: BEETHOVEN EXORCIST
Title: BOOGIE AMELIE
Title: BOONDOCK BALLROOM
Title: COLDBLOODED DARLING
Title: COMANCHEROS ENEMY
Title: DADDY PITTSBURGH
Title: DARLING BREAKING
Title: DOORS PRESIDENT
Title: DOUBLE WRATH
Title: DREAM PICKUP
Title: DUMBO LUST
Title: FERRIS MOTHER
Title: FEVER EMPIRE
Title: FIDDLER LOST
Title: FLASH WARS
Title: FREAKY POCUS
Title: GASLIGHT CRUSADE
Title: GUN BONNIE
Title: HEAD STRANGER

### 10. Calculate revenue for the Month of August 2005.

In [12]:
from datetime import datetime
result = customers.aggregate([
    {
        "$unwind": "$Rentals"  
    },
    {
        "$unwind": "$Rentals.Payments"  
    },
    {
        "$match": {
            "Rentals.Payments.Payment Date": {
                "$gte": datetime(2005, 8, 1).strftime("%Y-%m-%d %H:%M:%S.0"),
                "$lt": datetime(2005, 9, 1).strftime("%Y-%m-%d %H:%M:%S.0")
            }
        }
    },
    {
        "$group": {
            "_id": None,
            "total_revenue": {
                "$sum": "$Rentals.Payments.Amount"  
            }
        }
    }
])


for customer in result:
    print(f"Title: {customer['total_revenue']} ")

Title: 24070.139395952225

### 11. Find movies with the highest number of Actors.

In [13]:
result = films.aggregate([
    {"$project": {"Title": 1, "Actors": 1, "_id": 0}},
    {"$addFields": {"count": {"$size": "$Actors"}}},
    {"$sort": {"count": -1}},
    {"$limit": 1}
])

for film in result:
    print(f"Title: {film['Title']}  Count: {film['count']}")

Title: LAMBS CINCINATTI  Count: 15

### 12. List top Movie rating that is rented the most / popular among the customers.

In [14]:
result = films.aggregate([
    {
        "$group": {
            "_id": "$Rating",  
            "count": {"$sum": 1}  
        }
    },
    {
        "$sort": {"count": -1}  
    },
    {"$limit": 1}
])

for film in result:
    print(f"Title: {film['_id']}  Count: {film['count']}")

Title: PG-13  Count: 223

### 13. List number of actors who worked in each category of films.

In [15]:
result = films.aggregate([
    {
        "$unwind": "$Actors" 
    },
    {
        "$group": {
            "_id": {
                "Category": "$Category",
                "ActorID": "$Actors.actorId"  
            }
        }
    },
    {
        "$group": {
            "_id": "$_id.Category",
            "count": {"$sum": 1} 
        }
    },
    {
        "$sort": {"count": -1} 
    }
])

for film in result:
    print(f"Category: {film['_id']}  Number of actors: {film['count']}")

Category: Sports  Number of actors: 182
Category: Foreign  Number of actors: 175
Category: New  Number of actors: 169
Category: Documentary  Number of actors: 168
Category: Sci-Fi  Number of actors: 167
Category: Travel  Number of actors: 166
Category: Action  Number of actors: 166
Category: Animation  Number of actors: 166
Category: Family  Number of actors: 164
Category: Children  Number of actors: 163
Category: Drama  Number of actors: 162
Category: Classics  Number of actors: 162
Category: Horror  Number of actors: 156
Category: Games  Number of actors: 150
Category: Comedy  Number of actors: 147
Category: Music  Number of actors: 144

### 14. Find the average length of movies in each category.

In [16]:
result = films.aggregate([
    {"$match": {
        "Length": {"$exists": True, "$ne": None}  
    }},
    {"$project": {
            "Category": 1,  
            "Length": {"$toInt": "$Length"}  
        }},
 {
        "$group": {
            "_id": "$Category",  
            "AverageLength": {"$avg": "$Length"}  
        }
    },
    {
        "$sort": {"AverageLength": -1}  
    }
])


for film in result:
    print(f"Title: {film['_id']}  Average Length: {film['AverageLength']}")

Title: Sports  Average Length: 128.2027027027027
Title: Games  Average Length: 127.8360655737705
Title: Foreign  Average Length: 121.6986301369863
Title: Drama  Average Length: 120.83870967741936
Title: Comedy  Average Length: 115.82758620689656
Title: Family  Average Length: 114.78260869565217
Title: Music  Average Length: 113.6470588235294
Title: Travel  Average Length: 113.3157894736842
Title: Horror  Average Length: 112.48214285714286
Title: Classics  Average Length: 111.66666666666667
Title: Action  Average Length: 111.609375
Title: New  Average Length: 111.12698412698413
Title: Animation  Average Length: 111.01515151515152
Title: Children  Average Length: 109.8
Title: Documentary  Average Length: 108.75
Title: Sci-Fi  Average Length: 108.19672131147541

### 15. List the customers with at least 40 rentals.

In [17]:
result = customers.aggregate([
    {
        "$unwind": "$Rentals"  
    },
    {
        "$group": {
            "_id": "$_id",
            "rentalCount": {"$sum": 1}  
        }
    },
    {
        "$match": {
            "rentalCount": {"$gte": 40}  
        }
    },
    {
        "$project": {
            "_id": 1,  
            "rentalCount": 1  
        }
    }
])

for customer in result:
    print(f"Customers: {customer['_id']}  Count: {customer['rentalCount']}")

Customers: 236  Count: 42
Customers: 197  Count: 40
Customers: 526  Count: 45
Customers: 469  Count: 40
Customers: 148  Count: 46
Customers: 144  Count: 42
Customers: 75  Count: 41